process {
    executor = 'local'
    cpus = 4
    memory = '6 GB'
}

params {
    raw_reads = "${projectDir}/data/fastq"
}

timeline {
    enabled = true
    file = "${projectDir}/results/nextflow_timeline.html"
}

report {
    enabled = true
    file = "${projectDir}/results/nextflow_report.html"
}

trace {
    enabled = true
    file = "${projectDir}/results/nextflow_trace.txt"
}

dag {
    enabled = true
    file = "${projectDir}/results/nextflow_dag.html"
}